.page {
  max-height: 4116px;
  max-width: 1152px;
  min-width: 1152px;
  font-family: 'Nunito';
  margin: auto;
  padding: 0px;
}

.logo {
  width: 192px;
  height: 33px;
}

/* Titles-section */

.section-titles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 952px;
  height: 98px;
}

.section-titles__main-title {
  width: 264.56px;
  line-height: 49px;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: #3e3f43;
}

.section-titles__subtitle {
  text-transform: uppercase;
  width: 603.07px;
  line-height: 98px;
  font-weight: 800;
  font-size: 72px;
  text-align: right;
  color: rgba(34, 34, 34, 0.1);
}

/* Buttons */

.button_large {
  background: #DAA520;
  border-radius: 4px; 
  border: 1px solid #DAA520;
  width: 212px;
  height: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  margin: 0;
}

.button_large:hover {
  cursor: pointer;
  border-color: #3e3f43;
  background: #3e3f43;
}

.button_small {
  width: 123px;
  height: 40px;
  border-radius: 4px;
  color: #3e3f43;
  border: 1px solid #3e3f43;
}

.button_small:hover{
  cursor: pointer;
  font-weight: bold;
  border: 2px solid #3e3f43;
}

.button_small_theme_pink {
  background: #f9bdbd;
}

.button_small_theme_blue {
  background: #a8dcec;
}

.button_small_theme_buttermilk {
  background: #f7Dea6;
}

.text_bold {
  font-weight: bold;
}

/* Header */

.header {
  position: relative;
  width: 100%;
  height: 800px;
  left: 0px;
  top: 0px; 
}

.logo_place_header {
  position: absolute;
  left: 80px;
  top: 23px;
}

.button_large_place_header {
  position: absolute;
  left: 102px;
  top: 543px;
}

.header__title {
  position: absolute;
  width: 504px;
  height: 98px;
  left: 102px;
  top: 217px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 49px;
  color: #3e3f43;
}

.header__subtitle {
  position: absolute;
  width: 504px;
  height: 196px;
  left: 102px;
  top: 331px;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 98px;
  z-index: 2;
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  position: absolute;
  width: 430px;
  height: 22px;
  left: 387px;
  top: 27px;
}

.menu__link {
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  color: #3e3f43;
}

.menu__link_active {
  width: 45px;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  color: #daa520;
  align-self: center;
  margin: 48px 0px;
}

.menu__link:hover {
  color: #daa520;
}

.header__main-image {
  position: absolute;
  width: 568px;
  height: 577px;
  right: 0;
  top: 165px;
  background: url(../images/header/table.png);
  z-index: 1;
}

.header__rectangle {
  position: absolute;
  width: 370px;
  height: 800px;
  right: 0;
  top: 0;
  background-color: #f9bdbd;
  border-radius: 0 0 0 100px; 
  z-index: -1;
}

/* About-us */

.about-us {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 950px;
  padding-top: 120px;
}

.about-us__table {
  position: relative;
  width: 1052px;
  height: 812px;
  z-index: 2;
  list-style: none;
  margin-left: 100px;
}

.about-us__statement {
  font-size: 36px;
  line-height: 49px;
}

.about-us__statement_right {
  position: absolute;
  width: 448px;
  right: 100px;
  top: 144px;
  font-weight: normal;
  color: #3e3f43;
}

.about-us__statement_left {
  position: absolute;
  width: 648px;
  left: 0;
  top: 555px;
  font-weight: 600;
  color: #000;
}

.about-us__paragraph {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #000;
}

.about-us__paragraph_right {
  position: absolute;
  width: 448px;
  top: 258px;
  right: 100px;
  font-size: 24px;
  color: #000;
}

.about-us__paragraph_left {
  position: absolute;
  width: 648px;
  top: 620px;
  left: 0;
}

.about-us__rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 278px;
  height: 388px;
  background: #F7DEA6;
  border-radius: 0 100px 0 100px;
  z-index: 1;
}

.about-us__salad-bowl {
  position: absolute;
  top: 82px;
  width: 388px;
  height: 306px;
  background: url(../images/about-us/salad-bowl.png);
  z-index: 2;
}

.about-us__spoon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 287px;
  height: 384px;
  background: url(../images/about-us/spoon.png);
}

/* How-it-works */

.how-it-works {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 453px;
  padding-top: 120px;
}

.how-it-works__table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 952px;
  height: 177px;
  z-index: 2;
  margin-top: 64px;
  padding: 0;
  margin-bottom: 64px;
}

.how-it-works__table-cell {
  display: flex;
  flex-direction: column;
  width: 238px;
  height: 177px;
}

.how-it-works__table-heading {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.how-it-works__table-text {
  width: 58px;
  line-height: 131px;
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 131px;
  text-align: center;
  color: rgba(249, 189, 189, 0.25);
  z-index: 2;
  padding: 0;
  margin: 0;
}

.how-it-works__table-image {
  width: 120px;
  height: 120px;
}

.how-it-works__table-annotation {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #000;
}

/* Categories */

.categories {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 978px;
  padding-top: 120px;
  margin-bottom: 120px;
}

.categories__table {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 952px;
  flex-wrap: wrap;
}

.categories__table-cell {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 400px;
  border-radius: 0 100px 0 100px; 
  margin-right: 30px;
  margin-bottom: 30px;
  width: 280px;
}

.categories__table-cell_theme_pink {
  background-color: #f9bdbd;
}

.categories__table-cell_theme_blue {
  background-color: #a8dcec;
}

.categories__table-cell_theme_buttermilk {
  background-color: #f7dea6;
}

.categories__table-heading-text {
  width: 123px;
  line-height: 33px;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  z-index: 2;
  margin-left: 20px;
  padding: 0;
}

.categories__table-heading-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 246px;
  height: 235px;

}
.categories__table-heading-image_desk {
  width: 246px;
  height: 224px;
}
.categories__table-heading-image_chair {
  width: 165.25px;
  height: 235px;
}
.categories__table-heading-image_plates {
  width: 181.01px;
  height: 200px;
}
.categories__table-heading-image_book-shelf {
  width: 148.82px;
  height: 235px;
}

.categories__table-heading-image_elec {
  width: 235px;
  height: 139.12px;
}

.button_small_place_categories {
  align-self: flex-end;
  margin: 22px 16px 24px 0;
}

/* Footer */

.footer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 455px;
  background-color: #f0f0f0; 
}

.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 709px;
  margin-bottom: 40px;
  background: #f0f0f0;
  filter: alpha(Opacity=0.1); 
  z-index: 2;
  position: absolute;
  left: 80px;
  bottom: 30px;
  border-top: 1px solid #c4c4c4;
  padding-top: 24px;
}

.footer__column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__column_links {
  align-self: flex-start;
}

.footer__info {
  width: 195px;
  line-height: 19px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #8d8d8d;
  list-style: none;
  margin-bottom: 10px;
  padding-bottom: 2px;
}

.footer__column-heading {
  width: 81px;
  line-height: 25px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #333;
  margin: 0;
  padding-bottom: 14px;
}

.footer__column-heading_logo {
  padding-bottom: 0;
}

.footer__column-context {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__link {
  text-decoration: none;
  width: 70px;
  line-height: 19px;
  font-size: 14px;
  color: #8d8d8d;
  margin-bottom: 10px;
  padding-bottom: 2px;
}

.footer__link:hover {
  color: #daa520;
}

.footer__social-icon {
  margin-right: 10px;
}

.logo_place_footer {
  height: 35px;
  width: 183px;
}

.footer__background {
  position: absolute;
  width: 644px;
  height: 455px;
  left: 0;
  bottom: 0;
  background: url(../images/footer/background.png);
  z-index: 1;
}

.footer__main_image {
  position: absolute;
  z-index: 1;
  width: 508px;
  height: 455px;
  left: 644px;
  top: 0;
  background: url(../images/footer/work-table.png);
  
}

.footer__copyright {
  position: absolute;
  width: 104px;
  line-height: 16px;
  left: 524px;
  bottom: 24px;
  font-weight: 600;
  font-size: 12px;
  color: #8d8d8d;
  text-align: center;
  z-index: 2;
}